*:root {
  --bgcolor: rgba(46, 92, 241, 0.744);
  --border-radius: 25px 5px;
}

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}

button {
  margin-top: 25px;
  margin-bottom: auto;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: var(--bgcolor);
  border-radius: var(--border-radius);

  &:hover {
    --shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.51);
    background-color: orangered;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
  }
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #ccc;
  border-radius: 25px 5px;
}

.card img {
  width: 90%;
  height: 40%;
  border-radius: var(--border-radius);
}

.card>p {
  padding: 10px;
  font-size: 30px;
}

.card:hover {
  box-shadow: 10px 10px 20px #ccc;
}

.orderBtn {
  width: 200px;
  background: orangered;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.orderBtn:hover {
  background: rgb(89, 0, 190);
}